.mat-elevation-z8 {
  margin-top: 20px;
}

.mat-expansion-panel-header {
  background-color: #f5f5f5;
  font-weight: bold;
}

.mat-table {
  width: 100%;
}

.mat-header-cell, .mat-cell {
  padding: 8px;
}

.mat-header-cell {
  background-color: #e0e0e0;
  font-weight: bold;
}